@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");

html {
  font-family: "Raleway", sans-serif;
}

.hidden {
  display: none;
}

.login-title {
  text-align: center;
}
.login-page {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  height: 400px;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  width: 300px;
}

.login-btn {
  margin-top: 1rem;
  background-color: green;
  border: none;
  color: white;
  padding: 0.4rem 0;
}
.logout-btn {
  position: absolute;
  top: 2%;
  right: 2%;
}

label {
  margin-top: 0.5rem;
}

.avatar {
  background-color: grey;
  border-radius: 50%;
}

h1 {
  font-size: 1.3rem;
  font-weight: 300;
}
.user-name-greet {
  font-size: 1.4rem;
  font-weight: 500;
}

.secret-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
}

td {
  height: 30px;
  border: black solid 0.2rem;
  padding: 0.3em;
}

.admin-btn {
  margin-top: 1rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

button {
  border: none;
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: rgba(99, 99, 99, 0.3) 0 2px 0 0px;
}

.sort-btn {
  margin-top: 1rem;
  width: 50%;
}
